@use "../../styles/partials/typography";
@use "../../styles/partials/colors";
@use "../../styles/partials/breakpoints";

.pokerhand {
  display: flex;
  justify-content: space-between;
  background-color: colors.$row-color;
  border-bottom: 1px solid colors.$border-color;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-left: 0.5rem;

  &:hover {
    background-color: colors.$row-hover-color;
  }

  &__title {
    width: 35%;
    font-weight: typography.$font-semi-bold;
    margin: 0;
  }
  &__cards {
    display: none;

    @include breakpoints.desktop {
      display: flex;
    }
  }

  &__number {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 10%;
  }
}