$bg-color: #DDD7D5;
$bg-color-secondary: #FFFFFF;
$bg-color-headers: #000000;
$error-color: #A10024;

$action-color-primary: #429C42;
$action-color: #0077B6;
$border-color: #CDCDCD;

$row-color: #F0EBE3;
$row-hover-color: #0077B6;

$board-color: #49AD49;
$board-outline: #A95454;
$board-inner-outline: #63C762;

$card-inactive-color: #C2BDBA;
