@mixin button {
    padding: 4px 4px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 2rem;

    &:hover {
      cursor: URL("./hover.svg"), auto;
    }
}