@use "../../styles/partials/breakpoints";
@use "../../styles/partials/colors";

.board {
  width: 80%;
  align-items: center;

  @include breakpoints.tablet {
    width: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__image {
    background-color: colors.$board-color;
    border: 8px solid colors.$action-color-primary;
    outline: 10px solid colors.$board-outline;
    height: 9rem;
    border-radius: 4rem;
    position: relative;
    margin-top: 2rem;
    z-index: 0;
  }

  &__board-hands {
    border: 2px solid colors.$board-inner-outline;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  &__pocket-hands {
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  &__outcome {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
  }
}
