@use "../../styles/partials/colors";

.card {
  &__container {
    background-color: colors.$bg-color-secondary;
    filter: drop-shadow(1px 1px);
    border-radius: 4px;
    height: 45px;
    width: 25px;
    padding-left: 0;
    margin-bottom: 4px;
    margin-left: 4px;

    &--inactive {
      background-color: colors.$card-inactive-color;
      opacity: 50%;

      &:hover {
        cursor: url("./pointer.svg"), auto;
      }
    }

    &--empty {
      background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
    }
  }

  &__value {
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
  }

  &__icon {
    margin-left: 4px;
    height: 18px;
    padding: 0;
  }
}
