// * {
//   border: 1px solid white;
// }

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;

  &__list {
    list-style-type: none;
    display: flex;
    height: 2.5rem;
  }

  &__item {
    padding-left: 0.5rem;
  }
}