// * {
//   border: 1px solid white;
// }

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;

  &__logo {
    padding-left: 2rem;
  }

  &__list {
    list-style-type: none;
    display: flex;
    padding-right: 2rem;

    a {
      text-decoration: none;
    }
  }

  &__item {
    padding-left: 0.5rem;
    color: white;
  }
}