@use "../../styles/partials/colors";

.handsitem {
  background-color: colors.$row-color;

  &:hover {
    background-color: colors.$row-hover-color;
  }

  &__cards-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }

  &__outcome, &__date {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }
}