@use "../../styles/partials/typography";
@use "../../styles/partials/colors";

.outcome {
  &__title {
    font-size: 12px;
  }

  &__list {
    margin-left: 12px;
  }

  &__button {
    padding: 6px 18px;
    border: none;
    border-radius: 4px;
    margin-left: 6px;
    font-family: typography.$font-local;
    font-size: 1rem;

    &--active {
      color: white;
      background-color: colors.$action-color;
    }

    &:hover {
      cursor: url("./hover.svg"), auto;
    }
  }
}