@use "../../styles/partials/breakpoints";

.account {
  &__title {
    padding-left: 1rem;
    font-size: 1rem;

    @include breakpoints.tablet {
      font-size: 1.5rem;
      padding-left: 4rem;
    }
  }
}
