@use "../../styles/partials/breakpoints";

.pokerhandslist {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
  }

  &__list-right {
    width: 42%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    @include breakpoints.desktop {
      width: 25%;
    }
  }
}