@use "../../styles/partials/breakpoints";
@use "../../styles/partials/colors";

.handslist {
  width: calc(100% - 2rem);
  border-collapse: collapse;
  margin-right: 1rem;
  margin-left: 1rem;

  @include breakpoints.tablet {
    width: calc(100% - 8rem);
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &__header {
    background-color: colors.$bg-color-headers;
    color: colors.$bg-color-secondary;
  }

  &__header-item {
    padding: 1rem;
  }
}

.loader {
  padding-left: 1rem;

  @include breakpoints.tablet {
    padding-left: 4rem;
  }
}
