@use "../../styles/partials/breakpoints";

.handslist {
  width: 100%;
  border-collapse: collapse;

  @include breakpoints.tablet {
    width: 80%;
  }

  &__header {
    background-color: black;
    color: white;
  }

  &__header-item {
    padding: 1rem;
  }
}
